@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin navbar_item {
	color: #000;
	background: $s-menu-bg;
}

@mixin page_width {
    width: calc(100% - 10px);
}